.containerForPage {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  background-image: radial-gradient(circle, #36d1dc, #00c2e7, #00b1ef, #0c9def, #5b86e5);
}


div.counter.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
