.control-panel {
  display: flex;
  margin-right: 20px;
  width: 200px;
  background: white;
  height: 80%;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
}