.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #003432;
  height: 80vh;
}

h2 {  
  margin-right: 100px;
  color: #FF4B03;
  padding-left: 20px;
}

.select-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.form {
  display: flex;
  justify-content: center;
  width: 600px;
  background: #679B99;
  border: 2px solid transparent;
  border-radius: 5px; 
  height: 300px;
}

.my-select {
  padding-top: 20px;
  width: 450px;
  height: 40px;
}

.css-4ljt47-MenuList::-webkit-scrollbar {
  width: 10px;
  height: 100%;
}
.css-4ljt47-MenuList::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.css-4ljt47-MenuList::-webkit-scrollbar-thumb:vertical {
  background: #888;
  height: 10px;
}
.css-4ljt47-MenuList::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.css-4ljt47-MenuList {
  background: yellow;
};