.team {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #ddd6f3, #e6cbea, #f1bfda, #f9b4c3, #faaca8);
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
}
