.navbar {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  align-items: center;
}

.link {
  border: 1px solid #eb3471;
  border-radius: 10px;
  padding: 5px;

  &:hover {
    background: #349ceb;
    border: 2px solid #34eba5;
  }
}

a {
  color: #d634eb;
  text-decoration: none;

  &:active {
    color: darkgoldenrod;
    font-weight: bold;
  }
}